{{!-- layouts/cards/card-base.hbs --}}
<div class="fb-grid__row">
  <div class="card-container {{#> card-type}}{{/card-type}} {{#if classes}}{{classes}}{{else}}card-text{{/if}} fb-grid__col-{{#if width}}{{width}}{{else}}6{{/if}}">
    {{#> card-structure}}
    {{/card-structure}}
  </div>
</div>