{{#> layouts/cards/card cardtype="card-project" classes=classes width=width pathToRoot="./" }}
  {{#*inline "card-structure"}}

  <div class="card-project__image-container">
    <img class="card-project__image" src="{{#if image}}{{image}}{{else}}#{{/if}}" alt="{{#if alt}}{{alt}}{{else}}Image{{/if}}">
  </div>
  <div class="fb-grid__row">
      <img class="fb-grid__col-3 card-project__icon" src="assets/images/symbols/heart.svg" alt="Like">
      <p class="fb-grid__col-3 card-project__likes">0</p>
      <img class="fb-grid__col-3 card-project__icon" src="assets/images/symbols/comment.svg" alt="Comment">
      <p class="fb-grid__col-3 card-project__comment.svg">0</p>
  </div>

  {{/inline}}
{{/layouts/cards/card}}