{{#> layouts/cards/card cardtype="card-text" classes=classes width=width pathToRoot="./" }} <!-- Todo: add ability to pass classes -->
  {{#*inline "card-structure"}}
      <div class="fb-grid__row">
          <div class="fb-grid__col-12">
              <form class="login-form" action="post">
                  <h1>E-Mail</h1>
                  <input type="text" name="email" id="email">
                  <h1>Wachtwoord</h1>
                  <input type="password" name="password" id="password">
              </form>
          </div> 
      </div>
      <div class="fb-grid__row">
          <div class="fb-grid__col-12 button-col">
              <button type="submit" class="login-button"><h1>Login</h1></button>
          </div>
      </div>
  {{/inline}}
{{/layouts/cards/card}}