{{#> layouts/cards/card cardtype="card-text" pathToRoot="./" }} <!-- Todo: add ability to pass classes -->
  {{#*inline "card-structure"}}
    <div class="fb-grid__row card-underline">
      {{#> card-content}}
      <!-- This area should contain headers and paragraphs, add them on the page-->
      {{/card-content}}
    </div>
    <div class="fb-grid__row">
      <div class="fb-grid__row">
        <div class="fb-grid__col-6">
          <img class="icon" src="/assets/images/symbols/comment.svg" alt="comments">
        </div>
        <div class="fb-grid__col-6">
          <p class="fb-grid__col-6 card-project__comment">0</p>
        </div>
      </div>
    </div>
  {{/inline}}
{{/layouts/cards/card}}