{{#> layouts/cards/card cardtype="card-text" pathToRoot="./" }} <!-- Todo: add ability to pass classes -->
  {{#*inline "card-structure"}}
    <div class="fb-grid__row card-underline">
      {{#> card-content}}
      <!-- This area should contain headers and paragraphs, add them on the page-->
      {{/card-content}}
    </div>
  {{/inline}}
{{/layouts/cards/card}}