{{#> layouts/cards/card cardtype="card-detailpage" pathToRoot="./" }} {{#*inline "card-structure"}}
<div class="fb-grid__row">
  <div class="fb-grid__col-12">
    <div class="fb-grid__row card-box-title">
      <h1 class='detail-title'></h1>
    </div>
    <div class="fb-grid__row">
      <p class='detail-author'></p>
      <p class='detail-date'></p>
    </div>
    <div class="fb-grid__row tag-row">

    </div>
    <div class="fb-grid__row card-overline">
      <div class="fb-grid__col-4">
        <img class="icon card-likes" src="/assets/images/symbols/heart.svg" alt="facebook">
      </div>
      <div class="fb-grid__col-4">
        <img class="icon" src="/assets/images/symbols/comment.svg" alt="instagram">
      </div>
      <div class="fb-grid__col-4">
        <img class="icon" src="/assets/images/symbols/view.svg" alt="view">
      </div>
    </div>
  </div>
</div>


{{/inline}} {{/layouts/cards/card}}