{{#> layouts/cards/card cardtype="card-project" classes=classes width=width pathToRoot="./" }}
  {{#*inline "card-structure"}}
  <div class="fb-grid__row">
    <div class="fb-grid__col-6">
      <div class="card-image__container">
        <img class="card-image" src="assets/images/placeholder.png" alt="">
      </div>
    </div>
    <div class="fb-grid__col-6 card-align-bottom">
      <div class="fb-grid__row">
        <div class="fb-grid__col-12">
          <h1>Stijn Stevens</h1>
          <p>Designer and developer</p>
        </div>

      <!-- Card controls -->
        <div class="fb-grid__row card-overline">
          <div class="fb-grid__col-3">
            <img class="icon" src="assets/images/symbols/facebook.svg" alt="like">
          </div>
          <div class="fb-grid__col-3">
            <img class="icon" src="assets/images/symbols/instagram.svg" alt="comment">
          </div>
          <div class="fb-grid__col-3">
            <img class="icon" src="assets/images/symbols/twitter.svg" alt="comment">
          </div>
          <div class="fb-grid__col-3">
            <img class="icon" src="assets/images/symbols/view.svg" alt="comment">
          </div>
        </div>
      </div>
    </div>
  </div>

  {{/inline}}
{{/layouts/cards/card}}