{{#> layouts/cards/card cardtype="card-detailpage" pathToRoot="./" }} 
	{{#*inline "card-structure"}} 
	<div class="fb-grid__row">
		<div class="fb-grid__col-12">
			<div class="fb-grid__row card-box-title">
    		<h1>Blue Cubes</h1>
  		</div>
			<div class="fb-grid__row">
				<p>Stijn Stevens </p>
				<p> . 27 oktober 2017</p>
			</div>
			<div class="fb-grid__row tag-row">
				<div class="tag">Photo</div>
				<div class="tag">Satellites</div>
				<div class="tag">Illustratie</div>
    	</div>
			<div class="fb-grid__row card-overline">
				<div class="fb-grid__col-4">
					<img class="icon" src="/assets/images/symbols/heart.svg" alt="facebook">
				</div>
				<div class="fb-grid__col-4">
					<img class="icon" src="/assets/images/symbols/comment.svg" alt="instagram">
				</div>
				<div class="fb-grid__col-4">
					<img class="icon" src="/assets/images/symbols/view.svg" alt="view">
				</div>
			</div>
		</div>
	</div>


	{{/inline}}
{{/layouts/cards/card}} 


