{{#> layouts/cards/card cardtype="card-project" classes=classes width=width pathToRoot="./" }}
  {{#*inline "card-structure"}}

  <div class="fb-grid__row">
    <div class="fb-grid_-col-12">
      <div class="card-image__container">
        <img class="card-image" src="{{#if image}}{{image}}{{else}}#{{/if}}" alt="{{#if alt}}{{alt}}{{else}}Image{{/if}}">
      </div>
    </div>
  </div>
  <!-- Card controls -->
  <div class="fb-grid__row">
    <div class="fb-grid__col-6">
      <div class="fb-grid__row">
        <div class="fb-grid__col-6">
          <img class="icon" src="/assets/images/symbols/heart.svg" alt="Like">
        </div>
        <div class="fb-grid__col-6">
          <p class="card-project__likes">0</p>
        </div>
      </div>
    </div>
    <div class="fb-grid__col-6">
      <div class="fb-grid__row">
        <div class="fb-grid__col-6">
          <img class="icon" src="/assets/images/symbols/comment.svg" alt="comment">
        </div>
        <div class="fb-grid__col-6">
          <p class="card-project__comment">0</p>
        </div>
      </div>
    </div>
  </div>

  {{/inline}}
{{/layouts/cards/card}}