{{#> layouts/cards/card cardtype="card-login" pathToRoot="./" }} <!-- Todo: add ability to pass classes -->
  {{#*inline "card-structure"}}
    <div class="fb-grid__row">
      <div class="fb-grid__col-12">
        <form class="login-form" action="post">
          <p>E-Mail</p>
          <input class="form-input" type="text" name="email" id="Email-1">
          <div class="password-container">
            <p>Wachtwoord</p>
            <input class="form-input" type="password" name="password" id="Password-1">
          </div>
        </form>
      </div> 
    </div>
    <div class="fb-grid__row">
        <div class="fb-grid__col-12 button-col">
            <button type="submit" class="login-button" id="login-button"><h1>Login</h1></button>
        </div>
    </div>
  {{/inline}}
{{/layouts/cards/card}}