{{!-- layouts/navbar.hbs --}}
<!-- HEADER -->
<div class="fb-grid__row">
  <div class="fb-grid__col-12">
    <div class="footer-container">
      <div class="footer-outer">
        <div class="footer-inner">
          <div>
            <div class="fb-grid__col-4">
              <a href="#"><img class="footer-icon" src="assets/images/symbols/instagram.svg" alt=""></a>
            </div>
            <div class="fb-grid__col-4">
              <a href="#"><img class="footer-icon" src="assets/images/symbols/facebook.svg" alt=""></a>
            </div>
            <div class="fb-grid__col-4">
              <a href="#"><img class="footer-icon" src="assets/images/symbols/twitter.svg" alt=""></a>
            </div>
            <div>
              <p>Gerealiseerd door Jens Rottiers en Stijn Stevens</p>
              <img src="#">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>