{{!-- layouts/footer.hbs --}}
<div class="fb-grid__row">
  <div class="fb-grid__col-12 footer-container">
    <div class="footer-outer">
      <div class="footer-inner fb-grid__row">
        <div class="fb-grid__col-2">
          <a href="#"><img class="footer-icon" src="assets/images/symbols/instagram.svg" alt=""></a>
        </div>
        <div class="fb-grid__col-2">
          <a href="#"><img class="footer-icon" src="assets/images/symbols/facebook.svg" alt=""></a>
        </div>
        <div class="fb-grid__col-2">
          <a href="#"><img class="footer-icon" src="assets/images/symbols/twitter.svg" alt=""></a>
        </div>
      </div>
      <div class="fb-grid__row">
        <div class="fb-grid__col-8">
          <p>Gerealiseerd door Jens Rottiers en Stijn Stevens</p>
        </div>
        <div class="fb-grid__col-2">
          <img class="footer-icon" src="assets/images/symbols/logo.svg">
        </div>
      </div>
    </div>
  </div>
</div>