{{!-- layouts/navbar.hbs --}}
<!-- HEADER -->
<div class="fb-grid__row">
  <div class="navbar-container fb-grid__col-12">
    <div class="navbar-inner fb-grid__row">
      <a class="fb-grid__col-4" href='#'><img class="icon center" src="/assets/images/symbols/menu.svg" alt="Menu" id="hamburger-menu"></a>
      <a class="fb-grid__col-4" href='#'><img class="icon center" src="/assets/images/symbols/logo.svg" alt="Cartspire logo" id="cartspire-logo"></a>
      <a class="fb-grid__col-4" href='#'><img class="icon center" src="/assets/images/symbols/user_white.svg" alt="User profile" id="user-profile"></a> 
    </div>
    <div class="navbar-outer fb-grid__row">
      <div id="drop-menu" class="fb-grid__row drop-nav">
        <div class="fb-grid__col-12">
          <a href="#" class="btn-profile">Profiel</a>
          <a href="#" class="btn-blog">Blog</a>
          <a href="#" class="btn-about">Over ons</a>
          <a href="#" class="btn-login-register">Login/Registreer</a>
        </div>
      </div>
    </div>
  </div>
</div>