{{!-- layouts/navbar.hbs --}}
<!-- HEADER -->
<div class="fb-grid__row">
  <div class="navbar-container fb-grid__col-12">
    <div class="navbar-inner fb-grid__row">
      <a class="fb-grid__col-4" href='#'><img class="icon center" src="/assets/images/symbols/menu.svg" alt="Menu" id="hamburger-menu"></a>
      <a class="fb-grid__col-4" href='../index.html'><img class="icon center" src="/assets/images/symbols/logo.svg" alt="Cartspire logo"></a>
      <a class="fb-grid__col-4" href='#' id="navbar-user-profile-btn"><img class="icon center" src="/assets/images/symbols/user_white.svg" alt="User profile"></a> 
    </div>
    <div class="navbar-outer fb-grid__row">
      <div id="drop-menu" class="fb-grid__row drop-nav">
        <div class="fb-grid__col-12">
          <a href="#" class="navbar-button">Profiel</a>
          <a href="#" class="navbar-button">Blog</a>
          <a href="#" class="navbar-button">Over ons</a>
          <a href="./login" class="navbar-button" id="navbar-login-btn">Login/Registreer</a>

          <div class="fb-grid__row card-overline bottom-row">
            <div class="fb-grid__col-2">
              <a class="navbar-icon" href="#"><img src="/assets/images/symbols/instagram.svg" alt=""></a>
            </div>
            <div class="fb-grid__col-2">
              <a class="navbar-icon" href="#"><img src="/assets/images/symbols/facebook.svg" alt=""></a>
            </div>
            <div class="fb-grid__col-2">
              <a class="navbar-icon" href="#"><img src="/assets/images/symbols/twitter.svg" alt=""></a>
            </div>
          </div> 
        </div>
      </div>
    </div>
  </div>
</div>