{{!-- pages/index.hbs --}}

{{#> layouts/base title="Styleguide | New Media Development | Artevelde University College Ghent" description="Styleguide for the course Mobile Development I" pathToRoot="../" }}

  {{#*inline "head-block"}}
  {{/inline}}

  {{#*inline "content-block"}}
    <div class="fb-grid__row">
      <div class="fb-grid__col-12 header-image__container">
        <div class="header-image__text-wrapper">
          <h1>Styleguide</h1>
          <p>Cartspire</p>
        </div>
      </div>
    </div> 
    <div class="fb-grid__row">
    <div class="fb-grid__col-6">
      {{#> layouts/cards/card-text classes="card-container__underline"}}
      {{#*inline "card-content"}}
        <h1 class="titles">Colors</h1>
        <div class="fb-grid__row first-row">
          <div class="fb-grid__col-6">
            <div class="circle circle-one">
             <p>#ea6232</p> 
            </div>
          </div>
          <div class="fb-grid__col-6">
            <div class="circle circle-two">
             <p>#fff</p> 
            </div>
          </div>
        </div>
        <div class="fb-grid__row second-row">
          <div class="fb-grid__col-6">
            <div class="circle circle-three">
              <p>#000</p> 
            </div>
          </div>
          <div class="fb-grid__col-6">
            <div class="circle circle-four">
              #d0d0d0
            </div>
          </div>
        </div>
          
        
      {{/inline}}
      {{/layouts/cards/card-text}}
    </div>
    <div class="fb-grid__col-6">
      {{#> layouts/cards/card-text classes="card-container__underline"}}
      {{#*inline "card-content"}}
        <h1 class="titles">Buttons</h1>
        <div class="fb-grid__row first-row">
          <div class="fb-grid__col-4">
            <div class="button button-one">
              <p>Volg-button</p>
            </div>
          </div>
          <div class="fb-grid__col-4">
            <div class="button button-two">
              <p>Dropdown-button</p>
            </div>
          </div>
          <div class="fb-grid__col-4">
            <div class="button button-three">
              <p>Login/Register</p>
            </div>
          </div>
        </div>
      {{/inline}}
      {{/layouts/cards/card-text}}
    </div>
  </div>
  <div class="fb-grid__row">
    <div class="fb-grid__col-6">
      {{#> layouts/cards/card-text classes="card-container__underline"}}
      {{#*inline "card-content"}}
        <h1 class="titles">Tags</h1>
        <div class="fb-grid__row first-row">
          <div class="fb-grid__col-4">
            <div class="tag">
              <p>Tag</p>
            </div>
          </div>
          <div class="fb-grid__col-4">
            <div class="tag">
              <p>Tag</p> 
            </div>
          </div>
          <div class="fb-grid__col-4">
            <div class="tag">
              <p>Tag</p> 
            </div>
          </div>
        </div>
      {{/inline}}
      {{/layouts/cards/card-text}}
      <br>
      <div class="fb-grid__row">
        <div class="fb-grid__col-12">
          {{#> layouts/cards/card-text classes="card-container__underline"}}
          {{#*inline "card-content"}}
            <div class="fb-grid__row first-row">
              <h1>Typography</h1>
            </div>
            <div class="fb-grid__row second-row">
              <div class="fb-grid__col-6">
                <h1>Titles:</h1>
              </div>
              <div class="fb-grid__col-6">
                <h1>Monstserrat</h1>
              </div>
            </div>
            <div class="fb-grid__row">
              <div class="fb-grid__col-6">
                <p>Text:</p>
              </div>
              <div class="fb-grid__col-6">
                <p>Arvo</p>
              </div>
            </div>
          {{/inline}}
          {{/layouts/cards/card-text}}
        </div>
      </div>
      <br>
      <div class="fb-grid__row">
        <div class="fb-grid__col-12">
          {{#> layouts/cards/card-text classes="card-container__underline"}}
          {{#*inline "card-content"}}
            <div class="fb-grid__row first-row">
              <h1>Form</h1>
            </div>
            <div class="fb-grid__row second-row">
              <div class="fb-grid__col-6">
                <h1>Input:</h1>
              </div>
              <div class="fb-grid__col-6">
                <p>E-Mail</p>
                <input type="text" name="email" id="Email-1">
                <p>Wachtwoord</p>
                <input type="password" name="password" id="Password-1">
              </div>
            </div>
            <div class="fb-grid__row">
              <div class="fb-grid__col-5">
                <h1>Radiobuttons</h1>
              </div>
              <div class="fb-grid__col-7">
                <div class="radio">
                  <input type="checkbox" name="is-student">
                  <label for="is-student" class="radio-label">Ik ben een GDM student</label>
					      </div> 
                <div class="radio">
                  <input type="radio" name="course-crossmedia">
                  <label for="course-crossmedia" class="radio-label">Crossmedia</label> 
                </div>
              </div>
            </div>
          {{/inline}}
          {{/layouts/cards/card-text}}
        </div>
      </div>
    </div>
    <div class="fb-grid__col-6">
      {{#> layouts/cards/card-text classes="card-container__underline"}}
      {{#*inline "card-content"}}
        <h1 class="titles">Icons</h1>
        <div class="fb-grid__row first-row">
          <div class="fb-grid__col-4">
            <div class="styleguide-icon icon-one">
              <img src="/assets/images/symbols/menu.svg">
            </div>
          </div>
          <div class="fb-grid__col-4">
            <div class="styleguide-icon icon-two">
              <img src="/assets/images/symbols/logo.svg">
            </div>
          </div>
          <div class="fb-grid__col-4">
            <div class="styleguide-icon icon-three">
              <img src="/assets/images/symbols/user_white.svg"> 
            </div>
          </div>
        </div>
        <div class="fb-grid__row second-row">
          <div class="fb-grid__col-4">
            <div class="styleguide-icon icon-one">
               <img src="/assets/images/symbols/instagram.svg">
            </div>
          </div>
          <div class="fb-grid__col-4">
            <div class="styleguide-icon icon-two">
              <img src="/assets/images/symbols/facebook.svg">
            </div>
          </div>
          <div class="fb-grid__col-4">
            <div class="styleguide-icon icon-three">
              <img src="/assets/images/symbols/twitter.svg">
            </div>
          </div>
        </div>
        <div class="fb-grid__row third-row">
          <div class="fb-grid__col-4">
            <div class="styleguide-icon icon-one">
               <img src="/assets/images/symbols/heart.svg" alt="Like">
            </div>
          </div>
          <div class="fb-grid__col-4">
            <div class="styleguide-icon icon-two">
              <img src="/assets/images/symbols/comment.svg" alt="comment">
            </div>
          </div>
          <div class="fb-grid__col-4">
            <div class="styleguide-icon icon-three">
              <img src="/assets/images/symbols/view.svg" alt="view">
            </div>
          </div>
        </div>
      {{/inline}}
      {{/layouts/cards/card-text}}
    </div>
  </div>
  {{/inline}}

  {{#*inline "scripts-block"}}
  {{/inline}}

{{/layouts/base}}