{{!-- pages/index.hbs --}}

{{#> layouts/base title="Styleguide | New Media Development | Artevelde University College Ghent" description="Styleguide for the course Mobile Development I" pathToRoot="../" }}

  {{#*inline "head-block"}}
  {{/inline}}
    {{#*inline "content-block"}}
    <div class="fb-grid__container">
      <div class="fb-grid__row">
        <div class="card-container fb-grid__col-12">
          <h1>Headers</h1>
          <div class="fb-grid__row">
            <h1 class="fb-grid__col-4"><span class="center">test</span></h1>
            <h1 class="fb-grid__col-4"><span class="center">test</span></h1>
            <h1 class="fb-grid__col-4"><span class="center">test</span></h1>
          </div>
        </div>
      </div>
      <div class="fb-grid__row">
        <div class="fb-grid__col-12">
          <h1>Fonts</h1>
          <div class="card-container fb-grid__row">
            <h1 class="fb-grid__col-8 "><span>Arvo</span></h1>
            <h1 class="fb-grid__col-2 "><span>test</span></h1>
            <h1 class="fb-grid__col-2 "><span>test</span></h1>
          </div>
        </div>
      </div>
      <div class="fb-grid__row">
        <div class="fb-grid__col-12">
          <h1 class="fb-grid__col-12">Colors</h1>
          <div class="card-container fb-grid__row">
            <h1 class="fb-grid__col-8 "><span>#F47944</span></h1>
            <h1 class="fb-grid__col-2 "><span>test</span></h1>
            <h1 class="fb-grid__col-2 "><span>test</span></h1>
          </div>
        </div>
      </div>
      <div class="fb-grid__row">
        <div class="fb-grid__col-12">
        <h1 class="fb-grid__col-12">Text</h1>
          <div class="card-container fb-grid__row">
            <h1 class="fb-grid__col-8 "><span>test</span></h1>
            <h1 class="fb-grid__col-2 "><span>test</span></h1>
            <h1 class="fb-grid__col-2 "><span>test</span></h1>
          </div>
        </div>
      </div>
    </div>
    
      
  {{/inline}}

  {{#*inline "scripts-block"}}
  {{/inline}}

{{/layouts/base}}