{{!-- pages/index.hbs --}}

{{#> layouts/base title="Styleguide | New Media Development | Artevelde University College Ghent" description="Styleguide for the course Mobile Development I" pathToRoot="../" }}

  {{#*inline "head-block"}}
  {{/inline}}

  {{#*inline "content-block"}}
    <div class="fb-grid__container">
      <div class="fb-grid__row">
        <div class="fb-grid__col-12">
          <h1 class="fb-grid__col-12 icon">Headers</h1>
          <div class="headers card fb-grid__row">
            <h1 class="fb-grid__col-4 icon">test</h1>
            <h1 class="fb-grid__col-4 icon">test</h1>
            <h1 class="fb-grid__col-4 icon">test</h1>
          </div>
        </div>
      </div>
      <div class="fb-grid__row">
        <div class="fb-grid__col-12">
          <h1 class="fb-grid__col-12 icon">Fonts</h1>
          <div class="fonts card fb-grid__row">
            <h1 class="fb-grid__col-8 icon">Arvo</h1>
            <h1 class="fb-grid__col-2 icon">test</h1>
            <h1 class="fb-grid__col-2 icon">test</h1>
          </div>
        </div>
      </div>
      <div class="fb-grid__row">
        <div class="fb-grid__col-12">
        <h1 class="fb-grid__col-12 icon">Colors</h1>
          <div class="colors card fb-grid__row">
            <h1 class="fb-grid__col-8 icon">#F47944</h1>
            <h1 class="fb-grid__col-2 icon">test</h1>
            <h1 class="fb-grid__col-2 icon">test</h1>
          </div>
        </div>
      </div>
      <div class="fb-grid__row">
        <div class="fb-grid__col-12">
        <h1 class="fb-grid__col-12 icon">Text</h1>
          <div class="text card fb-grid__row">
            <h1 class="fb-grid__col-8 icon">test</h1>
            <h1 class="fb-grid__col-2 icon">test</h1>
            <h1 class="fb-grid__col-2 icon">test</h1>
          </div>
        </div>
      </div>
    </div>
    
      
  {{/inline}}

  {{#*inline "scripts-block"}}
  {{/inline}}

{{/layouts/base}}