{{!-- pages/index.hbs --}}

{{#> layouts/base title="Home | New Media Development | Artevelde University College Ghent" }}

  {{#*inline "content-block"}}
    <div class="container">
      <div class="row">
        <div class="column">
          <div class="main-navbar__container">
            <div class="navbar-out">
              <div class="navbar-inner">

                <!-- Alle namen worden nog vervangen door svg of images -->
                <div class="col-md-4">
                  <span class="open-slide-menu-icon">
                    <a href='#'>OPEN-SLIDE-MENU</a>
                  </span>
                </div>
                <div class="col-md-4">
                  <span class="main-icon">
                    <a href='#'>MAIN-ICON</a>
                  </span>
                </div>
                <div class="col-md-4">
                  <span class="account-icon">
                    <a href='#'>ACCOUNT-ICON</a>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
        <div class="row">
          <div class="column">
            <div class="header-image__container">
              <div class="header-image__text-wrapper">
                <h1>Cartspire</h1>
                <p>een GDM portfolio</p>
              </div>
              <img src="assets/images/placeholder.png" alt="foto van arteveldecampus mariakerke">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="column">
            <div class="introduction-card__container">
              <h1>Welkom!</h1>
              <p class="paragraph-1">
                Welkom op Cartspire, de GDM portfolio website. Op deze website 
                vind je de werkstukken van de studenten grafische en digitale media van 
                de Artevelde Hogeschool.
              </p>
              <p class="paragraph-2">
                Als je meer wil weten over de opleiding aarzel
                dan niet om naar de pagina 'opleiding' te gaan. En 
                voor de laatste updates over de campus en de 
                richting kan je gaan kijken op onze blog.
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="column">
            <div class="cards__container">
              <h1>Van de opleiding</h1>
              <!-- Hieronder komen dan alle cards -->
            </div>
          </div>
        </div>
    </div>
  {{/inline}}

{{/layouts/base}}