.card-container {
  background-color: #fff;

  @include shadow($main-shadow);

  padding: 20px;
  border-radius: $base-radius;
}

.card-container__underline p,
.card-container__underline h1 {
  border-bottom: 2px solid #d0d0d0;
}

.card-icon {
  width: 100%;
  float: left;
  margin: 0;
  padding: 0;
}
