.card-project__image-container {
  width: 100%;
  height: 80%;
  overflow: hidden;
}

.card-project__image {
  width: 100%;
  height: 100%;
}

.card-project__button-container {
  flex-flow: row wrap;
  display: inline-block;
}
