.card {
  background-color: #fff;

  @include shadow($main-shadow);

  padding: 20px;
  border-radius: $base-radius;
  overflow: hidden;
}

.card-underline p,
.card-underline h1 {
  border-bottom: $base-border;
}

.card-overline {
  border-top: $base-border;
}

.card-align-bottom {
  align-self: flex-end;
}

.card-image {
  margin: auto;
  width: 120%;
}

.card-image__container {
  margin-left: -15%;
  margin-top: -15%;
  overflow-x: hidden;
  width: 115%;
  align-content: center;
}
