.card-container {
  background-color: #fff;

  @include shadow($main-shadow);

  padding: 20px;
  border-radius: $base-radius;
  margin-top: 20px;
  margin-bottom: 20px;
}

.card-container__underline p,
.card-container__underline h1 {
  border-bottom: 2px solid #d0d0d0;
}

.card-icon {
  width: 100%;
  float: left;
  margin: 0;
  padding: 0;
}

.card-title {
  font-size: 3.125rem;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 30px;
}

.card-text {
  font-size: 1.4rem;
  margin-top: 5px;
  margin-bottom: 15px;
  margin-left: 30px;
}
