.card-container {
  background-color: #ffffff;
  @include shadow($main-shadow);
  padding: 20px; 
  border-radius: 17px;
}

.card h1 {
  margin-left: 50px;
  margin-bottom: 10px;
  line-height: 2em; 
  border-bottom: 2px solid #d0d0d0;
}
.card p {
  font-weight: 600;
  line-height: 2em; 
  font-size: 1em;
}

.card-container__underline 
p,
h1 {
  border-bottom: 2px solid #d0d0d0;
}
