.footer-inner {
  background-color: #fff;

  @include shadow($main-shadow);

  border-radius: $base-radius;
  height: 8vh;
}

.footer-outer {
  background-color: $main-orange;
  border-radius: $base-radius;
  height: 20vh;

  @include shadow($main-shadow);
}

.footer-icon {
  margin-top: -2vh;
  width: 70%;
  max-width: 50px;
}
