.footer-container {
  overflow: hidden;
}

.footer-inner {
  background-color: #fff;

  @include shadow($main-shadow);

  border-radius: $base-radius;
  height: 8vh;
}

.footer-outer {
  background-color: $main-orange;
  border-radius: $base-radius;
  height: 20vh;

  @include shadow($main-shadow);
}

.footer-outer p {
  color: #fff;
  font-size: 0.938em;
  margin-top: 60px;
  margin-left: 10px;
  text-align: center;
}

.footer-icon {
  margin-top: 10px;
  width: 70%;
  max-width: 50px;

  /* De icoontjes moeten we nog naar rechts kunnen brengen
  Dit zouden we kunnen doen met flexbox denk ik maar
  voorlopig werkt dit nog niet. */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.footer-icon-symbol {
  width: 30px;
  max-width: 50px;
  margin-top: 60px;
}
