.header-image__container {
  background: url(); /* Hier zal de image dan komen omgezet naar url */
  background-color: lightgray;
  padding-top: 20vh;
}

.header-image__text-wrapper {
  /* Het positioneren is nog niet op de juiste manier */
  color: #fff;
}
