.introduction-card__container h1 {
   margin-bottom: 10px;
   line-height: 2em; 
   border-bottom: 2px solid #d0d0d0;
   
}

.introduction-card__container .paragraph-1 {
    font-weight: 600;
    line-height: 2em; 
    border-bottom: 2px solid #d0d0d0;
    font-size: 1em;
    
}

.introduction-card__container .paragraph-2 {
    font-size: 1em;
}




