.main-navbar__container {
  position: fixed;
  margin: 0;
  padding: 0; 
  height: 100%;
  width: 100%;
  z-index: 1;

}


.navbar-outer {
  background-color: #ffffff;

  @include shadow($main-shadow);

  height: 12vh;
  border-radius: $base-radius;

}

.navbar-inner {
  background-color: $main-orange;

  @include shadow($main-shadow);

  height: 10vh;
  border-radius: $base-radius;
}


//Het plaatsen van de hamburger menu, icon en user icon mooi verspreid moeten we nog vinden 
/* Echt perfect verdeeld is het nog niet, d */ 
a {
  text-decoration: none;
  text-align: center;
}