.navbar-container {
  position: fixed;
  z-index: 1;
  margin-top: -(2 * $gutter-width);
}

.navbar-outer {
  background-color: #fff;

  @include shadow($main-shadow);

  height: 10vh;
  border-radius: $base-radius;
}

.navbar-inner {
  background-color: $main-orange;

  @include shadow($main-shadow);

  height: 8vh;
  border-radius: $base-radius;
  align-items: center; /* zodat de icoontjes mooi verticaal gecenteerd staat */
}

.navbar-icon {
  width: 50%;
  max-width: 60px;
}

#drop-menu {
  display: none;
  background-color: #fff;
  border-radius: $base-radius;
  overflow: hidden;

  @include shadow($main-shadow);

  /* margin: 0 auto; */
}

#drop-menu a {
  padding: $gutter-width;
  margin: $gutter-width;
  display: block;
  text-align: center;
  border-radius: $base-radius;
  border: 1px solid $main-orange;
  font-family: $headings-font-family;
}
