{{!-- pages/404.hbs --}}


  {{#*inline "head-block"}}
  {{/inline}}

 
    <div class="fb-grid__row">
      <div class="fb-grid__col-12">
        <div class="intro">
          <h1>404</h1>
          <p>It's gone</p>
        </div>
      </div>
    </div>
  

  {{#*inline "scripts-block"}}
  {{/inline}}

