{{#> layouts/base title="Home | New Media Development | Artevelde University College Ghent" pathToRoot="./" }}

{{#*inline "content-block"}}

<div class="fb-grid__row">
    <div class="fb-grid__col-12">
        <div class="container-auteurs">
            <h1>TEST!</h1>
            <h1>TESTSLRSQMQKSM</h1>
        </div>
    </div>
</div>

{{/inline}}


{{#*inline "scripts-block"}}
{{/inline}}

{{/layouts/base}}