{{!-- pages/index.hbs --}}

{{#> layouts/base title="Cartspire | Home" pathToRoot="./" }}

  {{#*inline "content-block"}}
  <!-- SECTION -->
  <div class="fb-grid__row">
    <div class="header-image__container">
      <div class="header-image__text-wrapper">
        <h1>Cartspire</h1>
        <p>een GDM portfolio</p>
      </div>
      <img src="assets/images/placeholder.png" alt="foto van artevelde campus mariakerke">
    </div>
  </div>
  <div class="fb-grid__row">
    {{#> layouts/cards/card-text width="6" classes="card-container__underline"}}
    {{#*inline "card-content"}}
      <h1>Hello world!</h1>
      <p>This is a test</p>
    {{/inline}}
    {{/layouts/cards/card-text}}

    {{#> layouts/cards/card-project width="6" image="assets/images/placeholder.png" alt="A placeholder image"}}
    {{/layouts/cards/card-project}}
  </div>
  <div class="fb-grid__row">
    {{#> layouts/cards/card-author width="12" alt="A placeholder image"}}
    {{/layouts/cards/card-author}}
  </div>

  <div class="fb-grid__row">
    <div class="cards__container">
      <h1>Van de opleiding</h1>
      <!-- Hieronder komen dan alle cards -->
    </div>
  </div>
  {{/inline}}

  {{#*inline "scripts-block"}}
  {{/inline}}

{{/layouts/base}}