{{!-- pages/index.hbs --}}

{{#> layouts/base title="Home | New Media Development | Artevelde University College Ghent" pathToRoot="./" }}

  {{#*inline "content-block"}}
    <div class="fb-grid__container">
      <!-- HEADER -->
      <div class="fb-grid__row">
        <div class="fb-grid__col-12 main-navbar__container">
          <div class="navbar-outer">
            <div class="navbar-inner fb-grid__row">
              <!-- Alle namen worden nog vervangen door svg of images -->
              <a class="fb-grid__col-4" href='#'><img src="/assets/images/symbols/menu.svg" alt="Menu"></a>
              <a class="fb-grid__col-4" href='#'><img src="/assets/images/symbols/logo.svg" alt="Cartspire logo"></a>
              <a class="fb-grid__col-4" href='#'><img src="/assets/images/symbols/user_white.svg" alt="User profile"></a>
            </div>
          </div>
        </div>
      </div>
      <!-- SECTION -->
      <div class="fb-grid__row">
        <div class="fb-grid__col-12">
          <div class="header-image__container">
            <div class="header-image__text-wrapper">
              <h1>Cartspire</h1>
              <p>een GDM portfolio</p>
            </div>
            <img src="assets/images/placeholder.png" alt="foto van artevelde campus mariakerke">
          </div>
        </div>
      </div>
      <!-- SECTION --->
      <div class="fb-grid__row">
        <div class="fb-grid__col-12">
          <div class="card-container card-container__underline">
            <h1>Welkom!</h1>
            <p>
              Welkom op Cartspire, de GDM portfolio website. Op deze website 
              vind je de werkstukken van de studenten grafische en digitale media van 
              de Artevelde Hogeschool.
            </p>
            <p>
              Als je meer wil weten over de opleiding aarzel
              dan niet om naar de pagina 'opleiding' te gaan. En 
              voor de laatste updates over de campus en de 
              richting kan je gaan kijken op onze blog.
            </p>
          </div>
        </div>
      </div>
      <div class="fb-grid__row">
        <div class="fb-grid__col-12">
          <div class="cards__container">
            <h1>Van de opleiding</h1>
            <!-- Hieronder komen dan alle cards -->
          </div>
        </div>
      </div>
      <!-- FOOTER -->
      <div class="fb-grid__row">
        <div class="fb-grid__col-12">
          <div class="footer__container">
            <div class="footer-outer">
              <div class="footer-inner">
                <div class="social-media-icons">
                  <div class="fb-grid__col-12">
                    <span class="basketball-icon">
                      <a class="fb-grid__col-12" href="#">A</a>
                    </span>
                  </div>
                  <div class="fb-grid__col-12">
                    <span class="facebook-icon">
                      <a class="fb-grid__col-12" href="#">B</a>
                    </span>
                  </div>
                  <div class="fb-grid__col-12">
                    <span class="instagram-icon">
                      <a class="fb-grid__col-12" href="#">C</a>
                    </span>
                  </div>
                  <div class="fb-grid__col-12">
                    <span class="twitter-icon">
                      <a class="fb-grid__col-12" href="#">D</a>
                    </span>
                  </div>
                  <div class="bottom">
                    <p class="text">Gerealiseerd door Jens Rottiers en Stijn Stevens</p>
                    <img src="#">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {{/inline}}

  {{#*inline "scripts-block"}}
  {{/inline}}

{{/layouts/base}}