{{!-- pages/index.hbs --}}

{{#> layouts/base title="Home | New Media Development | Artevelde University College Ghent" }}

  {{#*inline "content-block"}}
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="navbar">
            <div class="navbar-out">
              <div class="navbar-inner">

                <!-- Alle namen worden nog vervangen door svg of images -->
                <div class="col-md-4">
                  <span class="open-slide-menu-icon">
                    <a href='#'>OPEN-SLIDE-MENU</a>
                  </span>
                </div>
                <div class="col-md-4">
                  <span class="main-icon">
                    <a href='#'>MAIN-ICON</a>
                  </span>
                </div>
                <div class="col-md-4">
                  <span class="account-icon">
                    <a href='#'>ACCOUNT-ICON</a>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
        <div class="row">
          <div class="col-12">
            <div class="header-image__container">
              <h1 class="header-image__title">Cartspire</h1>
              <p class="header-image__text">een GDM portfolio</p>
              <img src="assets/images/placeholder.png" alt="foto van arteveldecampus mariakerke">
            </div>
          </div>
        </div>
    </div>
  {{/inline}}

{{/layouts/base}}