{{!-- pages/index.hbs --}}

{{#> layouts/base title="Cartspire | Home" pathToRoot="./" }}

  {{#*inline "content-block"}}
  <!-- SECTION -->
  <div class="fb-grid__row">
    <div class="fb-grid__col-12 header-image__container">
      <div class="header-image__text-wrapper">
        <h1>Cartspire</h1>
        <p>een GDM portfolio</p>
      </div>
    </div>
  </div>
  <div class="fb-grid__row">
    <div class="fb-grid__col-6">
      {{#> layouts/cards/card-text classes="card-container__underline"}}
      {{#*inline "card-content"}}
        <h1>Hello world!</h1>
        <p>This is a test</p>
      {{/inline}}
      {{/layouts/cards/card-text}}
    </div>
    <div class="fb-grid__col-6">
      {{#> layouts/cards/card-project image="assets/images/placeholder.png" alt="A placeholder image"}}
      {{/layouts/cards/card-project}}
    </div>
  </div>
  <div class="fb-grid__row">
    <div class="fb-grid__col-12">
      {{#> layouts/cards/card-author alt="A placeholder image"}}
      {{/layouts/cards/card-author}}
    </div>
  </div>
  <div class="fb-grid__row">
    <div class="fb-grid__col-12">
      {{#> layouts/cards/card-blog alt="A placeholder image"}}
      {{#*inline "card-content"}}
        <div class="fb-grid__row">
          <div class="fb-grid__col-12">
            <h1>A blog post!</h1>
            <p>7 december 2017</p>
          </div>
        </div>
        <div class="fb-grid__row">
          <div class="fb-grid__col-12">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo quis ipsam eum est enim natus accusantium nemo asperiores dolorem ad libero, corporis sed dolore ullam, ipsa explicabo eos commodi labore.</p>
          </div>
        </div>
      {{/inline}}
      {{/layouts/cards/card-blog}}
    </div>
  </div>

  <div class="fb-grid__row">
    <div class="cards__container">
      <h1>Van de opleiding</h1>
      <!-- Hieronder komen dan alle cards -->
    </div>
  </div>
  {{/inline}}

  {{#*inline "scripts-block"}}
  {{/inline}}

{{/layouts/base}}