{{!-- pages/styleguide.hbs --}}

{{#> layouts/base title="styleguide | New Media Development | Artevelde University College Ghent" }}
  {{#*inline "content-block"}}
    <div class="container">
      <div class="row">
      	<h1>Styleguide</h1>
      </div>
    </div>
  {{/inline}}
{{/layouts/base}}