{{#> layouts/base title="Cartspire | Blog" pathToRoot="../" }}


{{#*inline "content-block"}}
<div class="fb-grid__row">
    <div class="fb-grid__col-12 header-image__container">
      <div class="header-image__text-wrapper">
        <h1>GDM BLOG</h1>
        <p>nieuwtjes over de opleiding en de campus</p>
      </div>
    </div>
  </div>
  <div class="fb-grid__row">
    <div class="fb-grid__col-12">
      {{#> layouts/cards/card-blog classes="card-container__underline"}}
      {{#*inline "card-content"}}
        <div class="fb-grid__row">
          <div class="fb-grid__col-12">
            <h1>Soep op de campus</h1>
            <p>28 september 2017</p>
          </div>
        </div>
        <div class="fb-grid__row card-overline">
          <div class="fb-grid__col-12">
            <p>De blaadjes vallen van de bomen, het kwikt daalt naar dieptes ongekend. Dat wil zeggen dat de winter eraan komt! Wat beter dan soep om je warm te houden! Elke weekdag zal er soep te krijgen zijn in de ontspanningruimte. Voor een prikje is deze te verkrijgen. Aarzel niet, kom ze proeven!</p>
          </div>
        </div>
      {{/inline}}
      {{/layouts/cards/card-blog}}
    </div>
  </div>

	<div class="fb-grid__row">
		<div class="fb-grid__col-12">
			<h1 class="between-cards-title">Onlangs toegevoegde projecten</h1>
		</div>
	</div>
	<div class="fb-grid__row">
		<div class="fb-grid__col-6">
			{{#> layouts/cards/card-project image="/assets/images/placeholder.png" alt="A placeholder image"}}
			{{/layouts/cards/card-project}}
		</div>
		<div class="fb-grid__col-6">
			{{#> layouts/cards/card-project image="/assets/images/placeholder.png" alt="A placeholder image"}}
			{{/layouts/cards/card-project}}
		</div>
	</div>
	<div class="fb-grid__row">
    <div class="fb-grid__col-12">
      {{#> layouts/cards/card-blog classes="card-container__underline"}}
      {{#*inline "card-content"}}
        <div class="fb-grid__row">
          <div class="fb-grid__col-12">
            <h1>Soep op de campus</h1>
            <p>29 december 2017</p>
          </div>
        </div>
        <div class="fb-grid__row card-overline">
          <div class="fb-grid__col-12">
            <p>Winter komt eraan, kerst komt dichterbij. Tijd voor de Warmste Week! Artevelde zal zich ook dit jaar inzetten voor de warmste week. In de week voor de kerstperiode zal er jenever worden verkocht aan de inkom van het B-blok, vergezeld door enkele aangename plaatjes van Mr. Leerknecht. Kom deze week je boek zonder vrees te laat indienen. Je boete gaat integraal naar het goede doel!</p>
          </div>
        </div>
      {{/inline}}
      {{/layouts/cards/card-blog}}
    </div>
  </div>
	
{{/inline}}

{{#*inline "scripts-block"}}
{{/inline}}

{{/layouts/base}}