{{!-- layouts/navbar.hbs --}}
<!-- HEADER -->
<div class="fb-grid__row">
  <div class="fb-grid__col-12 main-navbar__container">
    <div class="navbar-outer">
      <div class="navbar-inner fb-grid__row">
          <!-- Alle namen worden nog vervangen door svg of images -->
          <a class="fb-grid__col-4" href='#' style="align-self:center"><img src="/assets/images/symbols/menu.svg" alt="Menu"></a>
          <a class="fb-grid__col-4" href='#'><img src="/assets/images/symbols/logo.svg" alt="Cartspire logo"></a>
          <a class="fb-grid__col-4" href='#'><img src="/assets/images/symbols/user_white.svg" alt="User profile"></a>
      </div>
    </div>
  </div>
</div>