{{#> layouts/base title="Cartspire | Opleiding" pathToRoot="../" }} {{#*inline "content-block"}}
<div class="fb-grid__row">
  <div class="fb-grid__col-12 header-image__container">
    <div class="header-image__text-wrapper">
      <h1>GDM</h1>
      <p>Over de opleiding</p>
    </div>
  </div>
</div>

<!-- Card 1 -->
<div class="fb-grid__row">
  <div class="fb-grid__col-12">
    {{#> layouts/cards/card-text classes="card-container__underline"}} {{#*inline "card-content"}}
    <div class="fb-grid__row">
      <div class="fb-grid__col-12">
        <h1 class="big_title">Over de opleiding</h1>
      </div>
    </div>
    <div class="fb-grid__row">
      <div class="fb-grid__col-12">
        <p>Grafische en Digitale Media is een opleiding die je klaarstoomt voor een carrière in film, design of development. In het eerste academiejaar kan je eens proeven van alledrie zodat je een goed idee krijgt van wat het nu precies is dat je wilt doen.</p>
      </div>
    </div>
    {{/inline}} {{/layouts/cards/card-text}}
  </div>
</div>

<div class="fb-grid__row">
  <div class="fb-grid__col-12 header-image__container">
    <!-- Image here -->
  </div>
</div>

<!-- Card 2  -->
<div class="fb-grid__row">
  <div class="fb-grid__col-12">
    {{#> layouts/cards/card-text classes="card-container__underline"}} 
    {{#*inline "card-content"}}
    <div class="fb-grid__row">
      <div class="fb-grid__col-12">
        <h1 class="big_title">Campus Mariakerke </h1>
      </div>
    </div>
    <div class="fb-grid__row">
      <div class="fb-grid__col-12">
        <p>Campus Mariakerke is de Grafische en Digitale Media campus van Artevelde Hogeschool aan de Industrieweg. De campus is modern en fris ingericht. Je vindt er faciliteiten zoals een mediatheel, een ontspanningsruimte, automaten en zelfs een broodjeswinkel. De campus is ook voorzien van genoeg printers om die vele grafische projecten af te kunnen printen.</p>
      </div>
    </div>
    {{/inline}} {{/layouts/cards/card-text}}
  </div>
</div>

<!-- title between -->
<div class="fb-grid__row">
  <div class="fb-grid__col-12">
    <h1 class="between-cards-title">Mening van oud-studenten</h1>
  </div>
</div>

<!-- Card 3 -->
<div class="fb-grid__row">
  <div class="fb-grid__col-12">
    {{#> layouts/cards/card-opinion classes="card-container__underline"}} {{#*inline "card-content"}}

    <div class="fb-grid__row">
      <div class="fb-grid__col-12">
        <p>Grafische en Digitale Media was voor mij de ideale voorbereiding voor het later beroepsleven!</p>
      </div>
    </div>
    {{/inline}} {{/layouts/cards/card-opinion}}
  </div>
</div>
{{/inline}} {{#*inline "scripts-block"}} {{/inline}} {{/layouts/base}}