{{#> layouts/base title="Cartspire | Opleiding" pathToRoot="../" }}


{{#*inline "content-block"}}
<div class="fb-grid__row">
    <div class="fb-grid__col-12 header-image__container">
        <div class="header-image__text-wrapper">
            <h1>GDM</h1>
            <p>Over de opleiding</p>
        </div>
    </div>
</div>

<!-- Card 1 -->
<div class="fb-grid__row">
    <div class="fb-grid__col-12">
    {{#> layouts/cards/card-text classes="card-container__underline"}}
        {{#*inline "card-content"}}
        <div class="fb-grid__row">
            <div class="fb-grid__col-12">
                <h1 class="big-title">Over de opleiding</h1>
            </div>
        </div>
        <div class="fb-grid__row">
            <div class="fb-grid__col-12">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos, recusandae id ut, repellat fuga nisi debitis, tempore quo quas beatae mollitia consectetur iste quis aliquam eaque suscipit dolores. Quisquam, perferendis?</p>
            </div>
        </div>
        <div class="fb-grid__row">
            <div class="fb-grid__col-12">
                <p style="bold">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos, recusandae id ut, repellat fuga nisi debitis, tempore quo quas beatae mollitia consectetur iste quis aliquam eaque suscipit dolores. Quisquam, perferendis?</p>
            </div>
        </div>
        {{/inline}}
    {{/layouts/cards/card-text}}
    </div>
</div>
<div class="fb-grid__row">
    <div class="fb-grid__col-12 header-image__container">
        <!-- Image here -->
    </div>
</div>

<!-- Card 2  -->
<div class="fb-grid__row">
    <div class="fb-grid__col-12">
    {{#> layouts/cards/card-text classes="card-container__underline"}}
        {{#*inline "card-content"}}
        <div class="fb-grid__row">
            <div class="fb-grid__col-12">
                <h1 class="big-title">Campus Mariakerke </h1>
            </div>
        </div>
        <div class="fb-grid__row">
            <div class="fb-grid__col-12">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos, recusandae id ut, repellat fuga nisi debitis, tempore quo quas beatae mollitia consectetur iste quis aliquam eaque suscipit dolores. Quisquam, perferendis?</p>
            </div>
        </div>
        <div class="fb-grid__row">
            <div class="fb-grid__col-12">
                <p style="bold">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos, recusandae id ut, repellat fuga nisi debitis, tempore quo quas beatae mollitia consectetur iste quis aliquam eaque suscipit dolores. Quisquam, perferendis?</p>
            </div>
        </div>
        {{/inline}}
    {{/layouts/cards/card-text}}
    </div>
</div>

<div class="fb-grid__row">
    <div class="fb-grid__col-12">
        <h1 class="big-title">Mening van oud-studenten</h1>
    </div>
</div>

<!-- Card 3 -->
<div class="fb-grid__row">
    <div class="fb-grid__col-12">
    {{#> layouts/cards/card-text classes="card-container__underline"}}
        {{#*inline "card-content"}}
        <div class="fb-grid__row">
            <div class="fb-grid__col-12">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos, recusandae id ut, repellat fuga nisi debitis, tempore quo quas beatae mollitia consectetur iste quis aliquam eaque suscipit dolores. Quisquam, perferendis?</p>
            </div>
        </div>
        <div class="fb-grid__row">
            <div class="fb-grid__col-12">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos, recusandae id ut, repellat fuga nisi debitis, tempore quo quas beatae mollitia consectetur iste quis aliquam eaque suscipit dolores. Quisquam, perferendis?</p>
            </div>
        </div>
        {{/inline}}
    {{/layouts/cards/card-text}}
    </div>
</div>
{{/inline}}




{{#*inline "scripts-block"}}
{{/inline}}



{{/layouts/base}}